{% extends 'FrontBundle:Default:index.html.twig'%}
{% block javascripts %}
	{{ parent() }}
	 <script src="{{ asset('bundles/front/js/jquery.easing.1.3.js') }}"></script>
     <script src="{{ asset('bundles/front/js/camera.js') }}"></script>
     <script src="{{ asset('bundles/front/js/dom_ready.js') }}"></script> 

{% endblock %}

{% block carrousel %}
<div class="slider_wrapper ">
    <div id="camera_wrap" class="">
          <div data-src="{{asset('upload/medias/caroussel/0d481da9a77154f05154d4a8f7fb6960.png')}}" >
            <!--<div class="caption fadeIn">
              <div class="title">New Zeland: <br><img src="{{ asset('bundles/parentseclaires/images/zeland.png') }}" alt=""></div>
              <a href="#" class=""><span>01.</span>General <br>Migrant<br>Program</a>
              <a href="#"><span>02.</span>Federal <br>Skilled <br>Worker <br>Program</a>
              <a href="#"><span>03.</span>student<br>Program</a>
            </div>--!>
          </div>
          <div data-src="{{asset('bundles/parentseclaires/images/slide2.jpg')}}" >
           <!-- <div class="caption fadeIn">
              <div class="title">Australia: <br><img src="{{ asset('bundles/parentseclaires/images/aus.png') }}" alt=""></div>
              <a href="#" class=""><span>01.</span>General <br>Migrant<br>Program</a>
              <a href="#"><span>02.</span>Federal <br>Skilled <br>Worker <br>Program</a>
              <a href="#"><span>03.</span>student<br>Program</a>
            </div>--!>
          </div>
		  
    </div>
</div>
<div class="clear mt"></div>
{% endblock %}


{% block body_site %}

<div class="content">
	<div class="container_12 p_bot">
		{{ html.AfficheBloc(page,'Demo') }}
	</div>
</div>
{% endblock %}

{%block footer%}{{ include('FrontBundle:Default:footer.html.twig') }}{% endblock %}