{% extends ['FrontBundle:',theme,':index.html.twig']|join %}
{% block body_site %}
     <script src="{{ asset('bundles/front/js/themes/zephyr/TMForm.js') }}"></script>
	<link rel="stylesheet" href="{{ asset('bundles/front/css/themes/zephyr/form.css') }}">

  <div id="standard_content">
  	<section id="" class="row-fluid clearfix" style="margin-top:20px;">
		<div id="section_contact_map" class="box-1 bot col-xs-6" style="margin-right:40px;">
               <div class="title-box">
                  <div class="inner-box">
                     <h2>{{ 'Comment nous trouver'|trans }}</h2>
                  </div>
               </div>
               <div class="content-box-1">
                   <div class="wrapper-extra">
	                    <div class="extra-wrap">
							<div class="map">
							<figure class=""><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1583.4175926697455!2d-70.53261939172536!3d47.55207147159337!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cbf0d0b89cb9e9f%3A0x6e3004b723a0423!2s610+QC-381%2C+Saint-Urbain%2C+QC+G0A+4K0%2C+Canada!5e1!3m2!1sfr!2sfr!4v1445435387043" width="430" height="300" frameborder="0" style="border:0" allowfullscreen></iframe></figure>
							{{ html.AfficheBloc(page,theme) }}                       
						  </div>
						</div>
					</div>
				</div>
		</div>
		
		<div id="section_contact" class="box-1 bot col-xs-5" style="">
               <div class="title-box">
                  <div class="inner-box">
                     <h2>{{ 'Formulaire de contact'|trans }}</h2>
                  </div>
               </div>
               <div class="content-box-1">
                   <div class="wrapper-extra">
	                    <div class="extra-wrap">
								<form id="form">
												
									<div class="success_wrapper">
										<div class="success-message">Message envoyé.</div>
									</div>
										<label class="name">
										  <input type="text" placeholder="Votre nom" data-constraints="@Required @JustLetters" />
										  <span class="empty-message">*Ce champ est obligatoire.</span>
										  <span class="error-message">*Nom invalide.</span>
										</label>
										
										<label class="email">
										  <input type="text" placeholder="Courriel" data-constraints="@Required @Email" />
										  <span class="empty-message">*Ce champ est obligatoire.</span>
										  <span class="error-message">*Courriel invalide.</span>
										</label>
										<label class="message">
										  <textarea placeholder="Message" data-constraints='@Required @Length(min=20,max=999999)'></textarea>
										  <span class="empty-message">*Ce champ est obligatoire.</span>
										  <span class="error-message">*Le message est trop court. 20 caractères minimum.</span>
										</label>
									<div>
										<div class="clear"></div>
										  <div class="btns">
										  	<a href="#" data-type="submit" class="button" style="min-width:180px;margin-right:0;">Envoyer le message</a>
										  </div>
									</div>
								 </form>   
	                    </div>
                    </div>
               </div>
        </div>
	</section>
  </div>   

	
{% endblock %}
